<!doctype html>
<html>

<head>

	<title>STELLArS Outpost</title>

	<meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

	<script src="../bower_components/webcomponentsjs/webcomponents.min.js"></script>
	<script src="../bower_components/Chart.js/Chart.js"></script>
	<!--<script src="../bower_components/Chart.js.legend/src/legend.js"></script>-->

	<link rel="stylesheet" href="../style.css" shim-shadowdom>

	<link rel="import" href="../bower_components/font-roboto/roboto.html">
	<link rel="import" href="../bower_components/core-icons/core-icons.html">
	<link rel="import" href="../bower_components/core-menu/core-menu.html">
	<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
	<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
	<link rel="import" href="../bower_components/core-scaffold/core-scaffold.html">
	<link rel="import" href="../bower_components/paper-ripple/paper-ripple.html">
	<link rel="import" href="../bower_components/paper-item/paper-item.html">
	<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
	<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
	<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">

</head>

<body unresolved fullbleed>

	<template is="auto-binding">

		<core-scaffold>
			<core-header-panel navigation flex mode="seamed">
				<core-toolbar id="mainheader"><a href="../index.html" class="inherit">Mission Control</a></core-toolbar>
				<core-menu theme="core-light-theme" selected="2">
					<paper-item><a href="../plan/index.html" class="inherit">Plan</a></paper-item>
					<paper-item><a href="../control/index.html" class="inherit">Control</a></paper-item>
					<paper-item><a href="../analyze/index.html" class="inherit">Analyze</a></paper-item>
				</core-menu>
			</core-header-panel>
			<div tool flex>Analyze</div>
			<div tool>
				<paper-icon-button icon="help"></paper-icon-button>
			</div>
			<div tool>
				<paper-menu-button>
					<paper-icon-button icon="more-vert"></paper-icon-button>
					<paper-dropdown class="dropdown" halign="right">
						<core-menu class="menu">
							<paper-item>Menu Item 1</paper-item>
							<paper-item>Menu Item 2</paper-item>
							<paper-item>Menu Item 3</paper-item>
						</core-menu>
					</paper-dropdown>
				</paper-menu-button>
			</div>

			<div fit>
				<h2 style="opacity:0.87;text-align:center">Ambient and Object Temperature</h2>
				<canvas id="tempChart" height="400" width="600"></canvas>
				<div id="tempLegend"></div>

				<h2 style="opacity:0.87;text-align:center">Barometric Pressure</h2>
				<canvas id="pressureChart" height="400" width="600"></canvas>
				<div id="pressureLegend"></div>

				<script>
					Chart.defaults.global.responsive = true;
					Chart.defaults.global.tooltipFontFamily = "'RobotoDraft', sans-serif";
					Chart.defaults.global.tooltipTitleFontFamily = "'RobotoDraft', sans-serif";
					//Chart.defaults.global.tooltipTitleFontSize = 16;
					//Chart.defaults.global.tooltipTitleFontStyle = "normal";
					Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.54)";
					//Chart.defaults.global.animationEasing = "easeOutBack";

					var tempChartData = {
						labels : ["","","","","","","","","",""],
						datasets: [
							{
								label: "Ambient Temperature",
								fillColor: "rgba(220,220,220,0.2)",
								strokeColor: "rgba(220,220,220,1)",
								pointColor: "rgba(220,220,220,1)",
								pointStrokeColor: "#fff",
								pointHighlightFill: "#fff",
								pointHighlightStroke: "rgba(220,220,220,1)",
								data: [0,0,0,0,0,0,0,0,0,0]
							},
							{
								label: "Object Temperature",
								fillColor: "rgba(151,187,205,0.2)",
								strokeColor: "rgba(151,187,205,1)",
								pointColor: "rgba(151,187,205,1)",
								pointStrokeColor: "#fff",
								pointHighlightFill: "#fff",
								pointHighlightStroke: "rgba(151,187,205,1)",
								data: [0,0,0,0,0,0,0,0,0,0]
							}
						]

					}
					tempChartOptions = {
						animation: false,
						legendTemplate : '<ul style="list-style-type:none">'
											+'<% for (var i=0; i<datasets.length; i++) { %>'
												+'<li>'
													+'<svg height="12" width="12" vertical-align="middle">'
														+'<circle cx="6" cy="6" r="6" stroke="#000" stroke-width="0" fill=\"<%=datasets[i].strokeColor%>\" />'
													+'</svg> '
													+'<span style="opacity:0.87">'
														+'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
													+'</span>'
												+'</li>'
											+'<% } %>'
										+'</ul>'
					}

					var tempChart = new Chart(document.getElementById("tempChart").getContext("2d")).Line(tempChartData, tempChartOptions);
					document.getElementById("tempLegend").innerHTML = tempChart.generateLegend();

					var pressureChartData = {
						labels: ["","","","","","","","","",""],
						datasets: [
							{
								label: "Barometric Pressure",
								fillColor: "rgba(208,155,155,0.2)",
								strokeColor: "rgba(208,155,155,1)",
								pointColor: "rgba(208,155,155,1)",
								pointStrokeColor: "#fff",
								pointHighlightFill: "#fff",
								pointHighlightStroke: "rgba(208,155,155,1)",
								data: [0,0,0,0,0,0,0,0,0,0]
							}
						]
					}
					pressureChartOptions = {
						animation: false,
						legendTemplate : '<ul style="list-style-type:none">'
											+'<% for (var i=0; i<datasets.length; i++) { %>'
												+'<li>'
													+'<svg height="12" width="12" vertical-align="middle">'
														+'<circle cx="6" cy="6" r="6" stroke="#000" stroke-width="0" fill=\"<%=datasets[i].strokeColor%>\" />'
													+'</svg> '
													+'<span style="opacity:0.87">'
														+'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
													+'</span>'
												+'</li>'
											+'<% } %>'
										+'</ul>'
					}

					var pressureChart = new Chart(document.getElementById("pressureChart").getContext("2d")).Line(pressureChartData, pressureChartOptions);
					document.getElementById("pressureLegend").innerHTML = pressureChart.generateLegend();

					function getRandomInt(min,max) {
						return Math.floor(Math.random() * (max - min + 1) + min);
					}
					setInterval(function() {
						tempChart.addData([getRandomInt(0,100),getRandomInt(0,100)], "");
						tempChart.removeData();
					}, 500);
					setInterval(function() {
						pressureChart.addData([getRandomInt(0,100)], "");
						pressureChart.removeData();
					}, 1000);
				</script>
			</div>
		</core-scaffold>

	</template>

</body>

</html>
